body {
  background: #fff;
  margin: 0;
}

#commentsPopUp {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  background: #fff;
  align-items: center;
  overflow-y: auto;
}

#commentsPopUp
.close-comment-popup {
  margin: 30px 30px 0 0;
  align-self: flex-end;
  height: 30px;
  cursor: pointer;
}

#commentsPopUp
.comment-cover {
  max-width: 400px;
  max-height: 300px;
}

#commentsPopUp
ul {
  list-style-type:none;
  gap: 50px;
  padding: 0;
  margin: 0;
  flex-flow: row wrap;
}

footer {
  width: calc(100% - 24px);
  border: 2px solid #000;
  padding: 30px 10px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}
